html{font-size:62.5%;}
body{
    width: 100%;
    padding: 0;
    margin: 0 auto;
    font-size: 1.4em;
    max-width: 425px;
}
header{
    position: fixed;
    background-color: #5fc0cd;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    z-index: 1;
    max-width: 425px;
}
.ps{
    margin: 0.5rem 1rem 0 0;
    position: absolute;
    right: 0;
}
.position{
    background-image: url("6-1.png" );
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: -12px -10px;
    width: 28px;
    height: 26px;
    border: 0;
    background-color: inherit;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #55a8b3;
    margin: 0.5rem 0 0.5rem 0;
}
.master{
    font-size: 1.8rem;
    color: white;
    background-color: #55a8b3;
    border-radius: 5px;
    outline: none;
    border: 0;
    padding: 0.9rem 2rem 0.9rem 2rem;
}
.nurse{
    border-radius: 5px;
    font-size: 1.8rem;
    color: #5fc0cd;
    background-color: white;
    border-color: white;
    outline: none;
    border: 0;
    padding: 0.9rem 2rem 0.9rem 2rem;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8fafb;
    border-top: thin;
    border-top-color: #e2eaec;
    max-width: 425px;
}
.lt{
    background-image: url("6-1.png" );
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: -83px -10px;
    width: 40px;
    height: 50px;
    border: 0;
    background-color: inherit;
    margin-top: 0.5rem;
    margin-left: 5rem;
}
.bo1{
    margin: 2rem 0 0 0;
    outline: none;
    border: 0;
    background-color: inherit;
    color: #5fc0cd;
}
.bo2{
    margin: 2rem 0 0 0;
    outline: none;
    border: 0;
    background-color: inherit;
    color: #b3b4b4;
}
.rt{
    background-image: url("6-1.png" );
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: -83px -114px;
    width: 40px;
    height: 50px;
    border: 0;
    background-color: inherit;
    margin-top: 0.5rem;
    margin-right: 5rem;
}
.cont{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: #5fc0cd;
}
img{
    margin-top: 4px;
}
main{
    margin-bottom: 65px;
}
.caret{
    color: #b3b4b4;
    float: right;
    margin-top: 0.7rem;
    margin-right: 10px;
}
.dropdown{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 5.5rem;
    background-color: white;
    padding-bottom: 0.5rem;
}
.dropdown-toggle{
     border-radius: 0;
     background-color: white;
     color: #b3b4b4;
     padding: 0.5rem 0 0.5rem 0;
     font-size: 1.5rem;
    outline: none;
 }
.a{
    width: 33.3%;
}
.b{
    width: 33.4%;
    border-right-color: #e1e5e7;
    border-left-color: #e1e5e7;
}
.c{
    width: 33.3%;
}
.list{
    background-color: white;
    border-top: solid;
    border-width: 1px;
    border-color: #e1e5e7;
    padding: 1rem 0 0 0;
}
.time{
    background-image: url("6-1.png" );
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: -12px -58px;
    width: 27px;
    height: 20px;
    border: 0;
    background-color: inherit;
    float: left;
}
.tm{
    color: #b3b4b4;
}
.day{
    float: left;
    margin-left: 27px;
}
.price{
    color: red;
}
.go{
    background-image: url("6-1.png" );
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: -12px -148px;
    width: 27px;
    height: 20px;
    border: 0;
    background-color: inherit;
}
.ipt{
    display: flex;
    justify-content: space-between;
}
.pos{
    background-image: url("6-1.png" );
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: -12px -105px;
    width: 27px;
    height: 20px;
    border: 0;
    background-color: inherit;
    float: left;
}


.bug{
    display: flex;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
p{
     white-space:nowrap;
     text-overflow:ellipsis;
     overflow:hidden;
}