$coler: white red #5fc0cd gainsboro;
$size: 1.4rem 1.8rem 2rem;
@mixin side{
  display: flex;
  align-items: center;
}
@mixin button{
  border-radius: 10px;
  border: solid 3px #5fc0cd;
  text-align: center;
  width: 50%;
  font-size: 1.8rem;
}

html{font-size:62.5%;}
body{
  width: 100%;
  padding: 0;
  margin: 0 auto;
  max-width: 425px;
  font-size: nth($size,1);
  background: nth($coler,1);
}
header{
  position: fixed;
  background-color: nth($coler,3);
  width: 100%;
  max-width: 425px;
  text-align: center;
  @include side;
}
.back {
  padding-left: 1rem;
  position: absolute;
}
.self{
  color: nth($coler,1);
  font-size: nth($size,3);
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  padding: 1rem 0 1rem 0;
}
.top{
  background-image: url("../task-5/5-2.png");
  padding: 5rem 0 3rem 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
}
.photo{
  padding-left: 2rem;
}
.name{
  color: nth($coler,1);
  font-size: nth($size,3);
  padding-left: 2rem;
}
.age{
  color: nth($coler,1);
  padding-left: 2.5rem;
  font-size: nth($size,1);
}
.one{
  @include side;
}
.position{
  padding-left: 2rem;
}
.city{
  padding-left: 1rem;
  color: nth($coler,1);
}
.two{
  @include side;
}
.jineng{
  border-left: solid 3px #5fc0cd;
  padding-left: 2rem;
  margin-left: 2rem;
  font-size: nth($size,2);
}
.around{
  @include side;
  font-size: nth($size,2);
  margin: 0 2rem 0 2rem;
  border-top: solid 1px gainsboro;
  border-bottom: solid 1px gainsboro;
}
.star{
  padding: 0 1rem 0 2rem;
}
.word{
  color: nth($coler,4);
  border-right: solid 1px gainsboro;
  padding:0 2rem 0 2rem;
  margin-right: 2rem;
  white-space: nowrap
}
.a{
  border-bottom: solid 1px gainsboro;
  font-size: nth($size,2);
  @include side;
  margin: 0 2rem 0 2rem;
}
.price{
  color: nth($coler,2);
}
footer{
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  max-width: 425px;
  @include side;
}
.b{
  margin: 0 2rem 7rem 2rem;
  border-bottom: solid 1px gainsboro;
  font-size: nth($size,2);
  @include side;
}
.e{
  @include button;
  color: nth($coler,3);
  background-color: nth($coler,1);
}
.f{
  color: nth($coler,1);
  background-color: nth($coler,3);
  @include button;
}
a{
  text-decoration: none;
  color: nth($coler,3);
  outline: none;
}